:root {
  --color-grey-100: #f2f2f2;
  --color-grey-200: #d9d9d9;
  --color-grey-300: #808080;
  --color-grey-400: #333333;
  --color-grey-500: #262626;
  --color-grey-600: #1a1a1a;
  --color-grey-700: #0d0d0d;

  --color-purple-500: #8284fa;
  --color-purple-700: #5e60ce;
  --color-blue-500: #4ea8de;
  --color-blue-700: #1e6f9f;

  --color-red-500: #e25858;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  background-color: var(--color-grey-600);
  color: var(--color-grey-100);
}

input,
button {
  font: inherit;
  color: inherit;
  border-radius: 0.8rem;
}

button {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed;
}

button:has(svg) {
  line-height: 0;
}

ul {
  list-style: none;
}

p,
h1 {
  overflow-wrap: break-word;
  hyphens: auto;
}
